.text_input {
  outline: none;
  display: block;
  background: white;
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}

.btn {
  padding: 16px 32px;
  background-color: rgb(227, 250, 197);
  font-size: 1.6rem;
  border-radius: 10px;
  border: none;
  color: black;
}

.textarea {
  width: 85%;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.6rem;
  resize: none;
  background-color: rgb(235, 235, 235);
}

.select {
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
