.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #edca8a;
  border-radius: 10px;
  padding: 2rem;
  gap: 3rem;
}

.commentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.commentGreen {
  background-color: #123212;
}

.commentYellow {
  background-color: #7a5405;
}

.commentRed {
  background-color: #570000;
}

.replysForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.replysList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn,
.btn:link,
.btn:visited {
  padding: 2rem;
  font-weight: bold;
  background-color: #162b2b;
  color: white;
  border-radius: 8px;
  border: none;
}

.btn:hover,
.btn:active {
  background-color: orange;
}

.btnYellow {
  background-color: #edca8a;
  color: #162b2b;
  padding: 0.8rem;
}

.star {
  font-size: 1.5rem;
  color: yellow;
}

.starRow {
  display: flex;
  gap: 3px;
}
