.searchForm {
  align-self: center;
  padding-top: 2rem;
}

.searchInput {
  padding: 2rem 10rem;
  border-radius: 6px;
  border: none;
  font-size: 2rem;
}

.searchInput:focus-visible {
  outline: none;
}
