.box {
  border: 5px dashed black;
  flex-basis: 100%;
}

.dropped {
  background-color: rgba(34, 42, 49, 0.233);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.def {
  flex-basis: 100%;
}

.droppable {
  background-color: gray;
  border: 5px dashed black;
  flex-basis: 100%;
}
