* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2.5rem;
  font-size: 1.6rem;
}

.quotes-list {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 5rem;
  padding: 2.6rem 2.6rem;
}

.cart {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.author {
  text-align: end;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-info {
  display: flex;
  gap: 2rem;
}

.container {
  background-color: rgb(235, 235, 235);
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* flex-basis: auto; */
}

.btn,
.btn:link,
.btn:visited {
  padding: 2rem;
  font-weight: bold;
  background-color: #162b2b;
  color: white;
  border-radius: 8px;
  border: none;
}

.btn:hover,
.btn:active {
  background-color: orange;
}
.btns {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.btn-delete {
  background-color: #edca8a;
  color: #162b2b;
  padding: 0.8rem;
}

.btn-sorted {
  background-color: orange;
}
.mean {
  font-weight: bold;
  align-self: center;
  font-size: 2rem;
}

.selected {
  background-color: #60491e;
}

.search-form {
  align-self: center;
  padding-top: 2rem;
}

.search-input {
  padding: 2rem 10rem;
  border-radius: 6px;
  border: none;
  font-size: 2rem;
}

.search-input:focus-visible {
  outline: none;
}

.pagination {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.pagination button,
.pagination button:link,
.pagination button:visited {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  border: 2px solid #162b2b;
  font-size: 1.6rem;
}

.pagination button:hover,
.pagination button:active {
  background-color: orange;
}

.pagination-btn--active {
  background-color: #162b2b;
  color: white;
}

.hidden {
  display: none;
}

textarea {
  width: 85%;
  height: 8rem;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.6rem;
  resize: none;
  background-color: rgb(235, 235, 235);
}

.rate-input {
  height: 8rem;
  width: 4rem;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  font-size: 2rem;
  padding: 0rem;
}

.newComment-form {
  display: flex;
}
